html, body {
	background-color: #2d2d2d;
	font-family: 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 20px;
	margin: 20px;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: right;
}

li.logo {
	width: 10vw;
	float: left;
	margin-left: 6vw;
	font-size: 4vh;
}

.logo {
	padding-left: 4%;
	width: 50px;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	color: #64DDBB;
}

a {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	padding-right: 6vw;
}

.navigation {
	overflow: auto;
	margin-top: 6vh;
	font-size: 20px;
}

.main-header {
	font-size: 100px;
	line-height: 100px;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0;
	margin-left: 100px;
	
}

.body-font{
	font-size: 20px;
	margin: 0;
	font-weight: lighter;
	letter-spacing: 0;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	flex-direction: column;

}

.extra-info{
	align-items: center;
	margin-top: 50px;
	color: #FFFFFF;
	margin-left: 100px;

}

.form{
	align-items: right;
	margin-left: 650px;
	margin-top: -280px;
	color: #64DDBB;

}

.extra-links img{
	height: 30px;
	width: 30px;



}
