.white {
	color: #FFFFFF;
}

.seafoam {
	color: #64DDBB;
}

.grey {
	color: #2D2D2D;
}

html, body {
	background-color: #2D2D2D;
	font-family: Helvetica Neue, sans-serif;
	color: white;
	height: 100%;
}

h1 {
	font-size: 144px;
}

h3 {
	font-size: 36px;
}

p {
	font-size: 24px;
}

ul {
	list-style-type: none;
	/* margin: 0px;
	padding: 0px; */
}

li {
	display: inline;
	float: right;
}

a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	color: #64DDBB;
}

a {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

img.resize {
	max-width: 69.4px;
	max-height: 76.1px;
}

.logo {
	overflow: auto;
	display: flex;
	justify-content: flex-start;
	float: left;
	margin-top: 60px;
	margin-left: 80px;
	padding: 5px;
}

.navigation {
	overflow: auto;
	display: flex;
	justify-content: flex-end;
	margin-top: 84px;
	margin-left: 687.6px;
	margin-right: 80px;
	font-size: 34px;
	letter-spacing: 0;
}

.navigation a {
	padding-right: 60px;
}

.title {
	display: flex;
	justify-content: center;
	margin-top: 306px;
	margin-bottom: 0px;
	margin-left: 301px;
	margin-right: 301px;
	color: #280000;
	letter-spacing: 0;
	line-height: 144px;
	/* word-wrap: break-word; */
}

.tagline {
	display: flex;
	justify-content: center;
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 487px;
	margin-right: 486px;
	letter-spacing: 0;
}

.address1 {
	display: flex;
	justify-content: flex-start;
	float: left;
	font-weight: lighter;
	margin-top: 289px;
	margin-bottom: 60px;
	margin-left: 80px;
	margin-right: 1145px;
	letter-spacing: 0;
	/* padding: 5px; */
}

.mission {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 1100px;
	margin-bottom: 50px;
	margin-left: 149px;
	margin-right: 148px;
	letter-spacing: 0;
}

.contact_bar {
	display: flex;
	justify-content: center;
	margin-top: 23px;
	margin-bottom: 23px;
	margin-left: 572px;
	margin-right: 578px;
}

.contact_button {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 290px;
	height: 89px;
	letter-spacing: 0;
	background-color: #64DDBB;
}

.contact_button a:link, a:visited {
	color: #2D2D2D;
	text-decoration: none;
}

.contact_button a:hover, a:active {
	text-decoration: none;
	color: #FFFFFF;
}

.address2 {
	display: flex;
	justify-content: flex-start;
	float: left;
	font-weight: lighter;
	margin-top: 283px;
	margin-left: 80px;
	margin-right: 1145px;
	/* padding: 5px; */
}

.parallax {
	background-image: url("home_page.jpg");
	/* opacity: 0.5; */
	/* want only the image to be opaque, otherwise can't read all the text */
	height: 2600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px;
}
