/*@font-face {font-family: "Liberation Sans"; src: url("/assets/fonts/LiberationSans-Bold.ttf");}*/

html, body {
	background-color: #2d2d2d;
	font-family: 'Helvetica Neue', sans-serif;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	float: right;
}

li.logo {
	float: left;
	margin-left: 6vw;
	font-size: 4vh;
}


a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

a {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	padding-right: 6vw;
}

.navigation {
	overflow: auto;
	margin-top: 6vh;
	font-size: 3vh;
}

.page-content {
	margin-top: 15vh;
}

/* Breaks when less than 500px wide  - introduce 
 * media query?
 */
.main-quote h1 {
	margin-left: 10%;
	word-wrap: break-word;
	font-size: 5em;
	line-height: .7em;
}


.green {
	color: #64DDBB;
}

.explanations {
	margin-top: 6vh;
	margin-left: 10%;
	margin-right: 10%;
}

.flex-grid {
	display: flex;
}

.col {
}

.quote-right {
	padding-left: 4%;
	border-left: 8px #64DDBB solid;
}

.quote-left {
	padding-right: 4%;
	border-right: 8px #64DDBB solid;
}

.explain-p {
	font-size: 1.25em;
	padding-top: 2%;
	width: 75%;
}

.explain-t {
	width: 25%;
}

.title-right {
	font-size: 3em;
}

.title-left {
	font-size: 3em;
	padding-left: 8%;
}


