
.round {
	/*border-radius: 50%;*/
	width: 20rem;
}
.overlay {
	position: absolute;
	margin-top: 0;
	width: 20rem;
	height: 20rem;
	background-color: #64DDBB;
	opacity: 0;
	z-index: 1;
}

.overlay-text {
	margin-top: 12%;
	margin-left: 18%;
	width: 14rem;
	height: 14rem;
	border: 1px transparent solid;
}

.overlay-text h1{
	word-wrap: break-word;
}
.overlay-name {
	font-size: 2.25rem;
	width: 15rem;
	margin-top: 10%;
}
.overlay-position {
	margin-top: 0;
	font-size: 1.6rem;
	font-style: italic;
}

.section-header {
	font-size: 4em;
}