body {
	background-color: #2D2D2D;
	font-family: 'Helvetica Neue', sans-serif;
    margin: 2.5rem 5rem;
	color: white;
}

.overview h1 {
    line-height: 6rem;
    font-size: 5.5rem
}

ul {
	list-style-type: none;
}

.logo img {
    height: 75px;
    width: 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #2D2D2D;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li a {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 3.5rem;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
	color: #64DDBB;
}

.seafoam {
    color: #64DDBB;
}

.overview {
    background-image: url("../img/code.png");
    background-repeat: no-repeat;
    background-position: right; 
}

.description {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 70%;
}

.social-media {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.social-media img {
    width: 25px;
    height: 25px;
}